<html>
<head>
  <title>!Summoner State!</title>
  <script language="JavaScript">

  </script>
</head>
<body>
  <div>
    name = {{yongHyun.name}} summonerLevel = {{yongHyun.summonerLevel}} 게임중 = {{yongHyun.isPlaying}}
  </div>
  <div>
    name = {{jiYoung.name}} summonerLevel = {{jiYoung.summonerLevel}} 게임중 = {{jiYoung.isPlaying}}
  </div>
  <div>
    name = {{junYoung.name}} summonerLevel = {{junYoung.summonerLevel}} 게임중 = {{junYoung.isPlaying}}
  </div>
  <div>
    name = {{youngJu.name}} summonerLevel = {{youngJu.summonerLevel}} 게임중 = {{youngJu.isPlaying}}
  </div>
  <div>
    name = {{ungBea.name}} summonerLevel = {{ungBea.summonerLevel}} 게임중 = {{ungBea.isPlaying}}
  </div>
</body>
</html>
